# intellij
*.iml
*.ipr
*.iws
.idea/

# gradle
.gradle
gradle.properties
build
examples/.idea/misc.xml
examples/.idea/modules.xml
examples/.idea/vcs.xml
examples/.idea/workspace.xml
examples/*/out

**/.DS_Store