<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <ontologies namespace="example" >

    <!--http://www.w3.org/1999/02/22-rdf-syntax-ns#-->
    <ontology uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#" prefix="rdf">
      <filesource location="ontologies/rdf.ttl"/>
    </ontology>

    <!--http://www.w3.org/2000/01/rdf-schema#-->
    <ontology uri="http://www.w3.org/2000/01/rdf-schema#" prefix="rdfs">
      <filesource location="ontologies/rdfs.ttl"/>
    </ontology>

        <ontology uri="http://stardog.com/tutorial/" prefix="music">
                <filesource location="ontologies/music_schema.ttl"/>
        </ontology>


  </ontologies>
</configuration>